.modal {
    display: flex;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.confirm-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #dc3545;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header {
    background-color: #f5f5f5;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    font-weight: lighter;
    letter-spacing: 5px;
}

.logo {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    font-weight: lighter;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
}

.logo-image {
    width: 50px;
    height: auto;
    margin-left: -5px;
    margin-top: 5px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-left: -80px;
    padding: 0;
}

.nav-link {
    font-family: 'Inter', sans-serif;
    color: #808080;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link.active {
    color: black;
}

.nav-link:hover {
    color: black;
}

.book-btn {
    background-color: #ce1212;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-right: 65px;
}

.book-btn {
    margin-left: 30px;
}

.book-btn:hover {
    background-color: darkred;
}

.logout-button {
  background-color: #666666; 
  color: white;              
  border: none;              
  padding: 10px 20px;        
  text-transform: uppercase; 
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s;
  border-radius: 0;          
}

.logout-button:hover {
  background-color: #555; 
}

.main-title h1 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    padding: 0;
    margin: 40px 0 0 0;
}

.sub-title h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: lighter;
    margin: 40px 0 20px 0;
    text-align: center;
}

.sub-title h2 span {
    color: #ce1212;
}

.menu-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.dishes-layout {
    padding: 20px;
    background-color: white;
    text-align: center;
}

.dishes-layout h1 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    padding: 0;
    margin: 40px 0 0 0;
}

.dishes-layout h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: lighter;
    margin: 40px 0 20px 0;
    text-align: center;
}

.dishes-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    gap: 15px;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

.dish-card {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.dish-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.dish-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 5px;
}

.dish-card h3 {
    font-size: 18px;
    color: #3D000F;
    margin-bottom: 5px;
    text-align: center;
}

.dish-card .description {
    font-size: 12px;
    color: #555;
    margin-bottom: 10px;
}

.dish-card .price {
    font-weight: bold;
    color: #3D000F;
    margin-bottom: 10px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
}

.buttons {
    display: flex;
    gap: 6px;
}

.order-btn {
    padding: 4px 8px;
    background-color: #3D000F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.order-btn:hover {
    background-color: #3D000F;
}

.btn-edit i {
    margin-right: 5px;
}

.btn-delete i {
    margin-right: 5px;
}

.horizontal-banner {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
}

.banner-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.add-btn {
    background-color: #ce1212;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    letter-spacing: 1px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 30px;
}

.add-btn:hover {
    background-color: darkred;
}

.btn {
    padding: 4px 8px;
    font-size: 12px;
    background-color: #ce1212;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ffdd57;
}

.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    font-family: Arial, sans-serif;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #ce1212;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c0392b;
}

.footer {
    background-color: #303030;
    color: white;
    padding: 20px 30px;
    text-align: left;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
}

.footer-column {
    width: 23%;
    padding: 10px;
}

.footer-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-item i {
    color: #ce1212;
    margin-right: 10px;
    font-size: 26px;
}

.footer-title {
    font-size: 18px;
    font-weight: bold;
    font-size: 26px;
}

.footer-column p {
    font-size: 14px;
    line-height: 1.6;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
}

.social-icon {
    width: 40px;
    height: 40px;
    background-color: #ce1212;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    gap: 10px;
}

.social-icon:hover {
    background-color: #a10e12;
}


.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.footer-bottom p {
    font-size: 14px;
}

.footer-bottom .name {
    color: #ce1212;
}

.menu-item h2 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    color: black;
    margin: 0;
    font-weight: lighter;
}

.menu-underline {
    width: 110%;
    height: 2px;
    background-color: #808080;
    border: none;
    margin: 10px auto 0;
}

.menu-layout .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    text-align: center;
    margin-left: 300px;
}

.order-btn {
    background-color: #ce1212;
    color: white;
    padding: 12px 40px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    letter-spacing: 1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    transition: background-color 0.3s, transform 0.2s;
    margin-left: -900px;
}

.order-btn i {
    font-size: 20px;
}

.order-btn:hover {
    background-color: darkred;
}

.order-btn .fas.fa-hand-pointer {
    position: absolute;
    right: 15px;
    font-size: 30px;
    animation: clickEffect 1s infinite;
    color: white;
}

@keyframes clickEffect {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* ----------- Responzivnost za iPhone 13 Pro i manje ekrane ----------- */
@media (max-width: 430px) {

  /* Header */
  header {
    flex-direction: column;
    padding: 10px 15px;
    height: auto;
  }

  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    font-size: 36px;
  }

  .logo-image {
    width: 40px;
    margin-left: 0;
    margin-top: 0;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    margin-left: 0;
    width: 100%;
  }

  .nav-link {
    width: 100%;
    text-align: center;
  }

  .book-btn, .logout-button {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }

  /* Modal */
  .modal-content {
    width: 90%;
    max-width: 300px;
    padding: 20px;
  }

  .modal-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .confirm-btn, .cancel-btn {
    width: 100%;
  }

  /* Menu / dishes layout */
  .menu-layout, .dishes-row {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    gap: 15px;
  }

  .dish-card {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  /* Order buttons */
  .order-btn, .add-btn, .btn {
    width: 100%;
    max-width: 300px;
    margin-left: 0;
    margin-top: 10px;
  }

  .order-btn .fas.fa-hand-pointer {
    right: 10px;
    font-size: 25px;
  }

  /* Footer */
  .footer-container {
    flex-direction: column;
    padding: 20px;
  }

  .footer-column {
    width: 100%;
    margin-bottom: 20px;
  }

  .social-icons {
    justify-content: center;
    gap: 10px;
    max-width: 100%;
  }

  .footer-bottom {
    width: 100%;
  }
}
