<header>
  <div class="header-container">
    <h1 class="logo">
      Palate <img src="assets/images/logo.png" alt="Logo" class="logo-image"> Palace
    </h1>
    <nav>
      <ul class="nav-links">
        <li><a routerLink="/pocetna" class="nav-link">Početna</a></li>
        <li><a routerLink="/onama" class="nav-link">O Nama</a></li>
        <li><a routerLink="/meni" class="nav-link">Meni</a></li>

        <li *ngIf="roleService.isAdmin() || roleService.isKonobar()">
          <a routerLink="/sveRezervacije">Sve Rezervacije</a>
        </li>

        <li *ngIf="roleService.isAdmin() || roleService.isKonobar() || roleService.isKuhar()">
          <a routerLink="/sveNarudzbe">Sve Narudžbe</a>
        </li>

        <li><a routerLink="/kontakt" class="nav-link">Kontakt</a></li>
      </ul>
    </nav>
    <button class="book-btn" [routerLink]="'/rezervacije'">Rezervacija</button>
    <button class="logout-button" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i>
    </button>
  </div>
</header>

<div class="title-container">
  <div class="main-title">
    <h1>REZERVACIJA</h1>
  </div>
  <div class="sub-title">
    <h2>Želite ukusno i zdravo? <span>Tu smo za Vas!</span></h2>
  </div>
</div>

<div class="container">
  <div class="image-container">
    <img src="assets/images/rezervacija.jpg" alt="Slika" />
  </div>

  <div class="form-container">
    <div class="form-row">
      <input id="imePrezime" type="text" placeholder="Ime i Prezime" class="input-field" [(ngModel)]="imePrezime"
        name="imePrezime" required />
      <input id="telefon" type="tel" placeholder="Broj Telefona" class="input-field" [(ngModel)]="telefon"
        name="telefon" required />
    </div>

    <div class="form-row">
      <input id="vrijeme" type="datetime-local" class="input-field" [(ngModel)]="vrijeme" name="vrijeme" required />
      <input id="gostiju" type="number" placeholder="Broj Ljudi" class="input-field" [(ngModel)]="brojGostiju"
        name="gostiju" required />
    </div>

    <input id="email" type="email" placeholder="Email" class="input-field" [(ngModel)]="email" name="email" required />

    <div class="form-row">
      <button class="reserve-btn" type="submit" (click)="potvrdiRezervaciju()">REZERVIŠI</button>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <div class="footer-item">
        <i class="fas fa-map-marker-alt"></i>
        <p class="footer-title">Lokacija</p>
      </div>
      <p>New York, NY 535022</p>
      <p>A108 Mike Street</p>
    </div>
    <div class="footer-column">
      <div class="footer-item">
        <i class="fas fa-phone-alt"></i>
        <p class="footer-title">Kontakt inf.</p>
      </div>
      <p>Tel: +1 5589 55488 55 </p>
      <p>Email: palate-palace.com</p>
    </div>
    <div class="footer-column">
      <div class="footer-item">
        <i class="fas fa-clock"></i>
        <p class="footer-title">Radno Vrijeme</p>
      </div>
      <p>Pon-Sub: 11:00h - 23:00h</p>
      <p>Ned: Neradno</p>
    </div>
    <div class="footer-column">
      <p class="footer-title">Pratite Nas</p>
      <div class="social-icons">
        <a href="https://twitter.com" class="social-icon" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com" class="social-icon" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com" class="social-icon" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.linkedin.com" class="social-icon" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 All rights reserved.</p>
    <p>Designed by <span class="name">Berina Topalovic</span></p>
  </div>
</footer>