header {
    background-color: #f5f5f5;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    font-weight: lighter;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
}

.logo-image {
    width: 50px;
    height: auto;
    margin-left: -5px;
    margin-top: 5px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-left: -80px;
    padding: 0;
}

.nav-link {
    font-family: 'Inter', sans-serif;
    color: #808080;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link.active {
    color: black;
}

.nav-link:hover {
    color: black;
}

.book-btn {
    background-color: #ce1212;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    letter-spacing: 1px;
    margin-left: 30px;
    margin-right: 65px;
}

.book-btn:hover {
    background-color: darkred;
}

.logout-button {
  background-color: #666666; 
  color: white;              
  border: none;              
  padding: 10px 20px;        
  text-transform: uppercase; 
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s;
  border-radius: 0;          
}

.logout-button:hover {
  background-color: #555; 
}

.main-title h1 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    padding: 0;
    margin: 40px 0 0 0;
}

.sub-title h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: lighter;
    margin: 40px 0 20px 0;
    text-align: center;
}

.sub-title h2 span {
    color: #ce1212;
}

.map-container {
    width: calc(100% - 260px);
    height: 400px;
    margin-top: 60px;
    margin-left: 130px;
    margin-right: 130px;
    overflow: hidden;
}

.map {
    width: 100%;
    height: 100%;
    border: none;
}

.contact-layout {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.contact-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    gap: 30px;
}

.left-column {
    width: 50%;
    padding-right: 15px;
}

.contact-item {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 70px;
    width: 100%;

}

.contact-item .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-item .contact-title,
.contact-item p {
    margin-bottom: 10px;
    padding: 0;
}

.contact-item>div {
    display: flex;
    align-items: center;
}

.contact-item .icon-container {
    margin-right: 20px;
}

.contact-item i {
    font-size: 40px;
    color: #ce1212;
    margin-right: 20px;
}

.contact-title {
    font-size: 50px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

.contact-item p {
    font-size: 14px;
    color: #666;
}

.right-column {
    padding-left: 15px;
}

.left-column,
.right-column {
    width: 50%;
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer {
    background-color: #303030;
    color: white;
    padding: 20px 30px;
    text-align: left;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
}

.footer-column {
    width: 23%;
    padding: 10px;
}

.footer-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-item i {
    color: #ce1212;
    margin-right: 10px;
    font-size: 26px;
}

.footer-title {
    font-size: 18px;
    font-weight: bold;
    font-size: 26px;
}

.footer-column p {
    font-size: 14px;
    line-height: 1.6;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
}

.social-icon {
    width: 40px;
    height: 40px;
    background-color: #ce1212;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    gap: 10px;
}

.social-icon:hover {
    background-color: #a10e12;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.footer-bottom p {
    font-size: 14px;
}

.footer-bottom .name {
    color: #ce1212;
}